#IA_logo{
    width: 10%;
    bottom: 0%;
    position: absolute;
    left: 8%;
    z-index: 1;
}
#sanmina{
    width: 7%;
    bottom: 0%;
    position: absolute;
    right: 8%;
    z-index: 2;
}
#tesla {
    width: 11%;
    bottom: 0%;
    position: absolute;
    left: 45%;
    z-index: 3;
}
/*.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110%;
    right: 50%;
  }
  #CanvasFHD {
    margin: 35px auto 0;
  }*/

#canvasCamara{
    position: absolute;
    top: 10%;
    left: 12%;
    /*box-shadow: 5px 5px grey; */
    z-index: 6;
  }

  #bar_div{
    position: absolute;
    top: 3%;
    right: 0%;
    z-index: 7;
}
#bar{  /* Descripcion de canvas tamaño  */ 
    /*max-width: 500px;*/
    width: 550px;
    height: 450px;
} 

#linea_div{
    position: absolute;
    bottom: 20%;
    right: 0%;
}
#linea {
    width: 550px;
    height: 450px
}